
.msgField input[type="text"],
.msgField textarea{
    width: 90%;
    padding: 10px;
    /* border: 1px solid black; */
    margin: 10px;
    
}
.msgField{
    margin: 20px;
    font-weight: bold;
}
.container{
    width:40%;
    padding: 5px;
    background-color: orange;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px inset rgb(63, 32, 32);
    border-radius: 10px;
    height: 400px;
}

@media(max-width:700px){
    .container{
        width:90%;
        padding: 20px;
       height: 450px;
       
       
    }
   
}